body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #C3B1D1;
    font-family: 'Balgin', sans-serif;
}

.top-info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9E76B4;
    padding: 10px 50px;
    color: white;
}

.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D1C2D9;
    padding: 20px 0;
}

.top-bar a,
.top-info-bar a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}


.book-now-top a {
    background-color: #F1EBF4;
    color: #9E76B4;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #9E76B4;
    display: inline-block;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.book-now-top a:hover {
    background-color: #9E76B4;
    color: white;
    border: 2px solid #F1EBF4;
}


.main-content {
    text-align: center;
    padding: 20px;
    color: #5E2750;
}

.main-content h1 {
    font-family: 'Apple Chancery', cursive;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 50px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.service {
    width: calc(33.333% - 20px); /* Adjust as necessary */
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 40px; /* This will create space at the bottom like a Polaroid */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds some shadow for depth */
    overflow: hidden;
}


.service img {
    width: 100%;
    display: block;
    border-top-left-radius: 10px; /* Match the border-radius of the container */
    border-top-right-radius: 10px;
    transition: transform 0.3s ease;
}

.service a {
    position: absolute;
    bottom: 0px; /* Position at the bottom of the polaroid space */
    width: 100%;
    right: 0;
    left: 0;
    text-align: center; /* Center the text */
    color: rgb(99, 99, 99); /* Or any color you prefer */
    font-family: sans-serif; /* Ensure cursive is a recognized generic family */
    font-size: 15px; /* Use !important to override other styles if necessary */
    font-weight: 300; /* Adjust weight as necessary, use !important if needed */
    margin: 0;
    padding: 10px 0; /* Padding on the sides */
    background-color: transparent; /* No background needed here anymore */
    text-decoration: none;
    text-transform: uppercase;
}



@media (max-width: 768px) {
    .service {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .service {
        width: 100%;
    }
}